<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Yellow"  backgroundColor="DarkGreen" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"  backgroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"  backgroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="White" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="Blue" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="White" backgroundColor="Blue" />
		</target>

		<target name="file" xsi:type="file"
			  filename="${basedir}/logs/${shortdate}/${shortdate}.txt"
			  layout="${longdate} Level->[${uppercase:${level}}] ${message}"
            archiveAboveSize="1024000"
            archiveEvery="Day" />
	</targets>

	<rules>

		<logger name="P.Core.Nlog.*" minlevel="Trace" writeTo="console" />
		<logger name="P.Core.Nlog.*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>